NOTE_ENVIRONMENT=development
NOTE_HOST=127.0.0.1
NOTE_PORT=8080
NOTE_CLEANUP_INTERVAL=1h
NOTE_DB_PATH=data.db
NOTE_DISPLAY_NAME='One Time Note'
NOTE_FOOTER_TEXT=
NOTE_GRACE_PERIOD=3s
NOTE_LEGAL_NOTICE_URL=
NOTE_MAX_DB_SIZE=1GiB
NOTE_MAX_NOTE_SIZE=1kiB
NOTE_PRIVACY_URL=
NOTE_TERMS_URL=
