NOTE_ENVIRONMENT=development
NOTE_HOST=127.0.0.1
NOTE_PORT=8080
NOTE_CLEANUP_INTERVAL=1h
NOTE_DB_PATH=data.db
NOTE_DISPLAY_NAME='One Time Note'
NOTE_FOOTER_TEXT=
NOTE_GRACE_PERIOD=3s
NOTE_LINK_1_TITLE=
NOTE_LINK_1_URL=
NOTE_LINK_2_TITLE=
NOTE_LINK_2_URL=
NOTE_LINK_3_TITLE=
NOTE_LINK_3_URL=
NOTE_LINK_4_TITLE=
NOTE_LINK_4_URL=
NOTE_LINK_5_TITLE=
NOTE_LINK_5_URL=
NOTE_MAX_DB_SIZE=1GiB
NOTE_MAX_NOTE_SIZE=1kiB
